@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');


*{
    font-family: 'Montserrat', sans-serif;
}

.container{
    display: flex;
    flex-direction: row;
}

h1{
    font-size: 2.5em;
    text-align: center;
}

section{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 5px 10px #b0b0b5;
    border-radius: 5px;
    margin: 0 15% 15px;
    padding: 2%;
}

.card img{
    width: 250px;
    border-radius: 50%;
}

.card p{
    padding: 5% 10%;
    font-size: 1.2em;
}

.card p a{
    color: #64766a;
    text-decoration: none;
    font-size: 1em;
}

.location{
    margin-top: 5%;
}

.location a{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-decoration: none;
    color: #000;
}

.location a:hover{
    transition: 0.5s;
    color: #64766a;
}

.reseaux-sociaux{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.reseaux-sociaux a{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 2%;
    width: 55px;
    height: 55px;
    color: #fff;
    border-radius: 20px;
}

svg{
    background: none;
}

/* .reseaux-sociaux a:hover{
    transform: scale(1.2) translateY(-5px);
    background: none;
} */

.instagram{
    background: linear-gradient(45deg, #405de6, 
    #5851db,
    #833ab4,
    #c13584,
    #e1306c,
    #fd1d1d);
    box-shadow: 0 4px 30px rgba(120 64 190 0.6);
}

.twitter{
    background: linear-gradient(45deg, #1da1f2, #0e71c8);
    box-shadow: 0 4px 30px rgba(19, 127, 212, 0.7);
} 

.github{
    background: linear-gradient(45deg, #333333, #626b73);
    box-shadow: 0 4px 30px rgba(63, 65, 67, 0.6);
}

.linkedin{
    background: linear-gradient(45deg, #1769ff, #213fca);
    box-shadow: 0 4px 30px rgba(27, 86, 231, 0.6);
}

.youtube{
    background: linear-gradient(45deg, #c12544, #ff0000);
    box-shadow: 0 4px 30px rgba(240, 128, 128, 0.7);
}

@media (max-width:955px){

    .container{
        flex-direction: column;
    }

    h1{
        width: 50%;
    }

    section{
        margin-left: 0;
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    section a{ 
        width: 90%;
    }

    .card{
        margin: 0 20px 20px;
    }

    .card p{
        font-size: 1.1em;
    }
    
    h2{
        font-size: 1.2em;
    }
}